*{
    background: #e6bf83;
    margin: 0%;
    padding: 0%;
}
.a{
    position: fixed;
    bottom: 40px;
    right: 60px;  
}
.section{
    /* background : #c59b5b; */
    width: 400px;
    height:34rem;
    border: 1px solid black;
    border-radius: 10%;
    color: #111;
    margin: 3rem;
}
.img{
    margin: 20px;
    border-radius: 10%;
}
p{
    padding-left:5px ;
    padding-top: 1rem;
}

/* button{
    margin-top: 0px;
    margin-left: 60px;
    margin-bottom: 39px;
    border-radius: 25px;
    padding: 5px;
    border: 1px solid transparent;
    background-color:rgb(44, 43, 43);
    color: white;
    
} */
#aa{
    margin-top: 10px;
    margin-left: 249px;
    padding-bottom: 30px;
    text-decoration: none;
    border: 1px solid transparent;
    display: contents;
} 
#header-butt{
    border-radius: 30PX;
    box-shadow: 0px 5px 15px rgba(57, 56, 59, 0.3);
    /*border-width: 1px;*/ 
    /* outline: noNe; */
    position: fixed;
    right:70%;
    background-color: rgb(29, 27, 27);
    color: aliceblue;
}